VITE_SUPABASE_URL=https://qoyevxtxzaohdygcbtcv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFveWV2eHR4emFvaGR5Z2NidGN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MjQyMDQsImV4cCI6MjEwNjEwMDIwNH0.5Il6EaBpFlo_Ag3PSiEyQdieibX-WCqc4uFveKpPt2g
